<div class="panel panel-primary">
  <div class="panel-heading">Détail contact</div>
  <div class="panel-body">
    <div class="form-group">
      <label>ID:</label>
      <label>{{contact.id}}</label>
    </div>
    <div class="form-group">
      <label>Nom:</label>
      <label>{{contact.nom}}</label>
    </div>
    <div class="form-group">
      <label>Prénom:</label>
      <label>{{contact.prenom}}</label>
    </div>
    <div class="form-group">
      <label>Date Naissance:</label>
      <label>{{contact.dateNaissance}}</label>
    </div>
    <div class="form-group">
      <label>E-mail:</label>
      <label>{{contact.email}}</label>
    </div>
    <div class="form-group">
      <label>N° Tel:</label>
      <label>{{contact.tel}}</label>
    </div>
    <div class="form-group">
      <label>Photo:</label>
      <img src={{contact.tel}} /> 
    </div>
  </div>
</div>